<%= render partial: 'shared/head', locals: { title: 'Qnow - Settings' }  %>


<body>

<%= render 'shared/nav' =%>

<% @merchant_joins.each do |mjoin| %>

  <% if not mjoin.position.nil? %>

    <div id="<%= mjoin.merchant.id %>" class="jumbotron" style="border-color: crimson; padding: 10px; margin-bottom: 10px">
      <span class="h2">
        <%= mjoin.merchant.name %>
      </span>
      <hr class="my-2">
      <div class="row" style="padding-bottom: 0px;">
        <div class="col">
          <span class="h1">
            <%= mjoin.position %>
          </span>
        </div>
        <div class="col">
          <span class="h4">od</span>
        </div>

        <div class="col-auto">
          <span class="h5"><%= mjoin.merchant.queue_slots_count %> u redu</span>
        </div>
      </div>

      <div class="row" style="padding-bottom: 0px;">
        <div class="col">
          <%= form_tag('/exit_queue', method: :post) %>
            <%= hidden_field_tag('join_code', mjoin.merchant.join_code) %>
            <button type="submit" class="btn btn-danger btn-sm btn-block">
              Exit queue 
            </button>
          </form>

        </div>

        <div class="col">
        </div>

      </div>

    <% else %>


      <div id="<%= mjoin.id %>" class="jumbotron" style="border-color: crimson; padding: 10px; margin-bottom: 10px">
        <span class="h2">
          <%= mjoin.merchant.name %>
        </span>
        <hr class="my-2">
        <div class="row" style="padding-bottom: 0px;">
          <div class="col-auto">
            <span class="h5"><%= mjoin.merchant.queue_slots_count %> u redu</span>
          </div>
        </div>

        <hr class="my-2">
        <div class="row" style="padding-bottom: 0px;">
          <div class="col">
            <%= form_tag('/join_queue', method: :post) %>
              <%= hidden_field_tag('join_code', mjoin.merchant.join_code) %>
              <button type="submit" class="btn btn-primary btn-sm btn-block">
                Join queue
              </button>
            </form>

          </div>
          <div class="col">

            <%= form_tag('/remove_queue', method: :post) %>
            <%= hidden_field_tag('join_code', mjoin.merchant.join_code) %>
              <button type="submit" class="btn btn-danger btn-sm btn-block">
                Remove queue
              </button>
            </form>
          </div>
        </div>
      </div>
    <% end %>



  <% end %>

  <%= render 'shared/footer' %>

  <%= javascript_pack_tag "reload-5" %>
