
<%= render partial: 'shared/head', locals: { title: 'Qnow - Settings' }  %>

<style>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }

            .slider.round:before {
              border-radius: 50%;
            }
</style>

<body>

<%= render 'shared/nav' =%>

<%= form_tag('management_settings', method: :put) %>
  <div class="input-group mb-3" style="margin-bottom: 5px; padding: 5px 5px 0px 5px;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Queue Label:</span>
    </div>

    <%= text_field_tag 'name', @user.name, class: 'form-control', 'aria-label' => "q_label", 'aria-describedby' => "basic-addon1" %>
    <!--input type="text" class="form-control" value="<%= @user.name %>"  aria-label="q_label" aria-describedby="basic-addon1"-->
  </div>

  <div class="input-group mb-3" style= "margin-bottom: 5px; padding: 0px 5px 0px 5px;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">Number of waiting slots:</span>
    </div>
    <%= text_field_tag 'pq_len', @user.qlength, class: 'form-control', 'aria-label' => "pq_len", 'aria-describedby' => "basic-addon2" %>
    <!--input type="text" class="form-control" value="<%= @user.qlength %>" aria-label="pq_len" aria-describedby="basic-addon2"-->
  </div>


  <div class="jumbotron-fluid sjf" style="padding: 0px 5px 0px 5px; margin-bottom: 0px;">

    <div class="row" style="padding-bottom: 0px;">
      <div class="col-auto">
        <span class="h3">Queue enabled:</span>
      </div>

      <div class="col">
        <label class="switch ">	 
          <%= check_box_tag 'queue_enabled', 'queue_enabled', @user.queue_enabled?, class: 'primary' %>
          <span class="slider round"></span>
        </label>
      </div>

    </div>


  </div>

  <div class="container-fluid" style="padding: 10px 10px 25px 10px;">
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      Update preferences	
    </button>
  </div>

</form>



<%= form_tag('reset_queue', method: :post) %>
  <div class="container-fluid" style="padding: 10px;">
    <button type="submit" class="btn btn-secondary btn-lg btn-block">
      Delete all in Queue	
    </button>
  </div>
</form>


<%= form_tag('reset_queue_pdf', method: :post) %>
  <div class="container-fluid" style="padding: 10px;">
    <button type="submit" class="btn btn-secondary btn-lg btn-block">
      Reset QRcode
    </button>
  </div>
</form>



<%= render 'shared/footer' =%>



