
<%= render partial: 'shared/head', locals: { title: 'Qnow - Settings' }  %>

<body>

<%= render 'shared/nav' =%>


<div class="container-fluid" style="padding: 15px;">
  <div class="row" >
    <div class="col">
      <span id="queue_count" class="h1" ><%= @user.queue_slots_count %></span> in queue	
    </div>

    <div class="col">

      <%= form_tag('admit_user', method: :post) %>
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Admit User	
      </button>
    </form>
  </div>
  </div>

</div>

<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">
  <form action="management_settings">
    <button type="submit" class="btn btn-secondary btn-lg btn-block">
      Settings
    </button>
  </form>
</div>


<div class="container-fluid" style="padding: 15px;">
  <form action="queue_pdf">
    <button type="submit" class="btn btn-secondary btn-lg btn-block">
      Print QRCode	
    </button>
  </form>
</div>


<%= render 'shared/footer' =%>

